{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}

<h1 class="mb-4">Информация о продукте</h1>
<p>Наименование: {{ object.product_name}}</p>
{% if product.image %}
<img src="{{ product.image.url }}" alt="{{ product.product_name }}" style="height: 300px;">
{% else %}
<img src="{% static 'images/noimage.jpg' %}" style="height: 300px;">
{% endif %}
<p>Категория продукта: {{ object.category.category_name }}</p>
<p>Стоимость продукта: {{ object.product_price }} руб.</p>
<p>Описание: {{ object.product_description }}</p>
<p>Дата создания: {{ object.created_at|date:"d M Y" }}</p>
<p>Дата обновления: {{ object.update_at|date:"d M Y" }}</p>
<a class="p-2 btn btn-outline-dark" href="{% url 'catalog:product_list_home' %}">На главную</a>
<a class="p-2 btn btn-outline-dark" href="{% url 'catalog:product_update' product.id %}">Редактировать</a>
<a class="p-2 btn btn-outline-dark" href="{% url 'catalog:product_delete' product.id %}">Удалить</a>

{% endblock %}